<component name="libraryTable">
  <library name="springframework" type="repository">
    <properties maven-id="org.springframework.amqp:spring-erlang:1.4.6.RELEASE" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/amqp/spring-erlang/1.4.6.RELEASE/spring-erlang-1.4.6.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/4.1.7.RELEASE/spring-beans-4.1.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/4.1.7.RELEASE/spring-core-4.1.7.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/commons-logging/commons-logging/1.2/commons-logging-1.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/commons-io/commons-io/2.4/commons-io-2.4.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/erlang/otp/jinterface/1.5.6/jinterface-1.5.6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>